body{
  background: url(img3.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Berkshire Swash', cursive;
}
@media (min-width: 576px) and (max-width: 767px)
{
  body{
    background: url(img1.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
/*md*/
@media (min-width: 768px) and (max-width: 991px)
{
  body{
    background: url(img3.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
/*lg*/
@media (min-width: 992px) and (max-width: 1199px){
  body{
    background: url(img4.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
/*xl*/
@media (min-width: 1200px)
{
  body{
    background: url(img5.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
.rowheight{
  height: 300px;
}
h1{
  colour: #000;
  font-size: 3.0em;
}
.bg{
  background-color: #c1c1c1;
  opacity: 0.8;
}
.photo{
  height: 150px;
}
.footer{
  background-colour: #ecf0f1;
  position: fixed;
  bottom: 0;
}
.ng{
  background-color: #ecf0f1;
}
p{
  font-size: 18px;
  padding: 5px;
}
